force-app/main/default/flows/Account_AfterUpdate_UpdateContactOrdersPrimaryContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_record_collection</name>
        <label>Add to record collection</label>
        <locationX>869</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>OrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Foreach_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>869</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>Foreach_Order.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Orders_Found</name>
        <label>Any Orders Found</label>
        <locationX>913</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Orders_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Foreach_Order</targetReference>
            </connector>
            <label>Orders Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account-AfterUpdate-UpdateContactOrdersPrimaryContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-AfterUpdate-UpdateContactOrdersPrimaryContact</label>
    <loops>
        <name>Foreach_Order</name>
        <label>Foreach Order</label>
        <locationX>781</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Account_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_record_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Orders</name>
        <label>Get Account Orders</label>
        <locationX>1096</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Orders_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Primary_Contact_Flag</name>
        <label>Remove Primary Contact Flag</label>
        <locationX>913</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Primary_on_Contact_TRUE</name>
        <label>Set Primary on Contact TRUE</label>
        <locationX>913</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Remove_Primary_Contact_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>781</locationX>
        <locationY>1319</locationY>
        <inputReference>OrderCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>787</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Primary_on_Contact_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
